beFlow.txt
[{"id":"df3e75e7.c0c398","type":"natural-language-understanding","z":"36ea59b7.9cf526","name":"","categories":false,"concepts":false,"maxconcepts":"5","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"10","metadata":false,"relation":false,"semantic":false,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"20","default-endpoint":false,"service-endpoint":"","x":382.9999542236328,"y":137,"wires":[["addac5f4.24ff58","3709197b.cef4e6"]]},{"id":"addac5f4.24ff58","type":"debug","z":"36ea59b7.9cf526","name":"","active":true,"console":"false","complete":"true","x":645.9999542236328,"y":93,"wires":[]},{"id":"af27f260.1da06","type":"http in","z":"36ea59b7.9cf526","name":"","url":"/nlu","method":"post","upload":false,"swaggerDoc":"","x":127.99995422363281,"y":139,"wires":[["8c8e1f02.66f72","ef53fe1.62428"]]},{"id":"8c8e1f02.66f72","type":"function","z":"36ea59b7.9cf526","name":"","func":"msg.payload = msg.payload.querynlu;\nmsg.nlu_options = {entity_model:\"10:2b2981ea-e813-427d-974f-5d804af72f26\"};\nreturn msg;","outputs":1,"noerr":0,"x":203.9999542236328,"y":190,"wires":[["df3e75e7.c0c398"]]},{"id":"ef53fe1.62428","type":"debug","z":"36ea59b7.9cf526","name":"","active":true,"console":"false","complete":"payload","x":318.9999542236328,"y":92,"wires":[]},{"id":"57866f9.9f1bf9","type":"http response","z":"36ea59b7.9cf526","name":"","x":653.9999542236328,"y":142,"wires":[]},{"id":"3709197b.cef4e6","type":"function","z":"36ea59b7.9cf526","name":"","func":"msg.payload = msg.features;\nreturn msg;","outputs":1,"noerr":0,"x":557.9999542236328,"y":195,"wires":[["57866f9.9f1bf9"]]},{"id":"71be3275.ae9f1c","type":"http in","z":"36ea59b7.9cf526","name":"","url":"/discovery-nl-offset","method":"get","upload":false,"swaggerDoc":"","x":105,"y":299.111083984375,"wires":[["9d5990b9.0945b","5fe4fa64.3a9874"]]},{"id":"4bbf2ba0.a8c5a4","type":"change","z":"36ea59b7.9cf526","name":"","rules":[{"t":"set","p":"post","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":340,"wires":[["fe3b36c5.604828"]]},{"id":"c1fa2fda.1a447","type":"http request","z":"36ea59b7.9cf526","name":"","method":"GET","ret":"obj","url":"https://gateway.watsonplatform.net/discovery/api/v1/environments/8a476c9e-45f8-4d28-b53d-64d1f7c73ad4/collections/c978009f-32a2-4c3d-b960-5cc45b8c007b/query?version=2017-11-07&aggregation=nested%28enriched_text.entities%29.term%28enriched_text.entities.text%2Ccount%3A500%29.unique_count%28enriched_text.entities.type%29&deduplicate=false&highlight=true&passages=true&passages.count=5&query=&filter={{post.query}}","tls":"","x":630,"y":300,"wires":[["f3fd9b0a.0aeac8","346925fd.6bdfaa"]]},{"id":"f3fd9b0a.0aeac8","type":"http response","z":"36ea59b7.9cf526","name":"","x":784.9999542236328,"y":259.22216796875,"wires":[]},{"id":"346925fd.6bdfaa","type":"debug","z":"36ea59b7.9cf526","name":"","active":true,"console":"false","complete":"true","x":674.4999694824219,"y":379.111083984375,"wires":[]},{"id":"9d5990b9.0945b","type":"debug","z":"36ea59b7.9cf526","name":"","active":true,"console":"false","complete":"true","x":275.9999542236328,"y":373,"wires":[]},{"id":"46c96bb9.8debf4","type":"http request","z":"36ea59b7.9cf526","name":"","method":"GET","ret":"obj","url":"https://gateway.watsonplatform.net/discovery/api/v1/environments/8a476c9e-45f8-4d28-b53d-64d1f7c73ad4/collections/c978009f-32a2-4c3d-b960-5cc45b8c007b/query?version=2017-11-07&aggregation=term%28enriched_text.entities.text%29.%5Bunique_count%28extracted_metadata.filename%29%5D&deduplicate=false&highlight=true&passages=true&passages.count={{post.count}}&offset={{post.offset}}&query={{post.post}}","tls":"","x":582.9999542236328,"y":249,"wires":[[]]},{"id":"5fe4fa64.3a9874","type":"node-red-contrib-httpauth","z":"36ea59b7.9cf526","name":"","file":"","cred":"","authType":"Basic","realm":"","username":"user","password":"US3R!2017","hashed":false,"x":280.4999542236328,"y":244.75,"wires":[["4bbf2ba0.a8c5a4"]]},{"id":"bba94933.e1c3c8","type":"debug","z":"36ea59b7.9cf526","name":"","active":true,"console":"false","complete":"true","x":650,"y":520,"wires":[]},{"id":"fe3b36c5.604828","type":"function","z":"36ea59b7.9cf526","name":"","func":"//msg.payload.query = msg.payload.query.replace(/:/g,\"%3A\")\n//msg.payload.query = msg.payload.query.replace(/\"/g,\"%22\")\n//msg.payload.query = msg.payload.query.replace(/,/g,\"%2C\")\n//msg.payload.query = msg.payload.query.replace(/','/g,\"%27\")\nmsg.payload.query = encodeURIComponent(msg.payload.query);\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":420,"wires":[["bba94933.e1c3c8","c1fa2fda.1a447"]]}]