feFlow.txt
[{"id":"3b887a75.a3c976","type":"http in","z":"71f731d.9d452d","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":93,"y":53,"wires":[["2dc98d88.9cb7d2"]]},{"id":"fd3c08e6.de3518","type":"template","z":"71f731d.9d452d","name":"index","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<!--[if lt IE 7]>      <html lang=\"en\" ng-app=\"myapp\" class=\"no-js lt-ie9 lt-ie8 lt-ie7\"> <![endif]-->\n<!--[if IE 7]>         <html lang=\"en\" ng-app=\"myapp\" class=\"no-js lt-ie9 lt-ie8\"> <![endif]-->\n<!--[if IE 8]>         <html lang=\"en\" ng-app=\"myapp\" class=\"no-js lt-ie9\"> <![endif]-->\n<!--[if gt IE 8]><!--> <html lang=\"en\" ng-app=\"myapp\" class=\"no-js\"> <!--<![endif]-->\n<head>\n  <meta charset=\"utf-8\">\n  <title>Prueba de concepto</title>\n  <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    \n    \n    <style type=\"text/css\">\n/* STYLE INICIAL */\n\n.lista-entidades {\n\twidth: 100%;\n\tbackground-color: #f5f5f5;\n\tpadding: 20px;\n}\n\n.lista-entidades .entidad {\n\tbackground-color: yellow;\n}\n\n.revision-entidades {\n\twidth: 100%;\n\tbackground-color: #CFD8DC;\n\tpadding: 20px;\n}\n\n.form-check {\n\n}\n\n.footer {\n\tpadding: 100px;\n}\n\n.navbar-brand{\n\tfont-weight: bolder\n}\n\n.entidadok {\n\tbackground-color: #E0E0E0; \n}\n\n/*\n * Globals\n */\n\nh1, .h1,\nh2, .h2,\nh3, .h3,\nh4, .h4,\nh5, .h5,\nh6, .h6 {\n  font-family: \"Helvetica Neue\", Helvetica, Arial, sans-serif;\n  font-weight: normal;\n  color: #333;\n}\n\n\n/*\n * Masthead for nav\n */\n\n.blog-masthead {\n  margin-bottom: 3rem;\n  background-color: #428bca;\n  -webkit-box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);\n          box-shadow: inset 0 -.1rem .25rem rgba(0,0,0,.1);\n}\n\n/* Nav links */\n.nav-link {\n  position: relative;\n  padding: 1rem;\n  font-weight: 500;\n  color: #cdddeb;\n}\n.nav-link:hover,\n.nav-link:focus {\n  color: #fff;\n  background-color: transparent;\n}\n\n/* Active state gets a caret at the bottom */\n.nav-link.active {\n  color: #fff;\n}\n.nav-link.active:after {\n  position: absolute;\n  bottom: 0;\n  left: 50%;\n  width: 0;\n  height: 0;\n  margin-left: -.3rem;\n  vertical-align: middle;\n  content: \"\";\n  border-right: .3rem solid transparent;\n  border-bottom: .3rem solid;\n  border-left: .3rem solid transparent;\n}\n\n\n/*\n * Blog name and description\n */\n\n.blog-header {\n  padding-bottom: 1.25rem;\n  margin-bottom: 2rem;\n  border-bottom: .05rem solid #eee;\n}\n.blog-title {\n  margin-bottom: 0;\n  font-size: 2.5rem !important;\n  font-weight: normal;\n}\n.blog-description {\n  font-size: 1.1rem;\n  color: #999;\n}\n\n@media (min-width: 40em) {\n  .blog-title {\n    font-size: 3.5rem;\n  }\n}\n\nsmall {\n\tfont-size: 13px;\n}\n\n\n/*\n * Main column and sidebar layout\n */\n\n/* Sidebar modules for boxing content */\n.sidebar-module {\n  padding: 1rem;\n  /*margin: 0 -1rem 1rem;*/\n}\n.sidebar-module-inset {\n  padding: 1rem;\n  background-color: #f5f5f5;\n  border-radius: .25rem;\n}\n.sidebar-module-inset p:last-child,\n.sidebar-module-inset ul:last-child,\n.sidebar-module-inset ol:last-child {\n  margin-bottom: 0;\n}\n\n\n/* Pagination */\n.blog-pagination {\n  margin-bottom: 4rem;\n}\n.blog-pagination > .btn {\n  border-radius: 2rem;\n}\n\n\n/*\n * Blog posts\n */\n\n.blog-post {\n  margin-bottom: 4rem;\n}\n.blog-post-title {\n  margin-bottom: .25rem;\n  font-size: 2.5rem;\n}\n.blog-post-meta {\n  margin-bottom: 1.25rem;\n  color: #999;\n}\n\n\n/*\n * Footer\n */\n\n.blog-footer {\n  padding: 2.5rem 0;\n  color: #999;\n  text-align: center;\n  background-color: #f9f9f9;\n  border-top: .05rem solid #e5e5e5;\n}\n.blog-footer p:last-child {\n  margin-bottom: 0;\n}\n\n/* STYLE view-resultado.html   */\n      .grey {\n        font-size: 13px;\n        color: #9E9E9E;\n      }\n\n      .resultados {\n        font-size: 15px;\n        padding-top: 0px !important;\n      }\n\n      .resultados:before {\n    content:\"• \";\n    }\n\n    em {\n      background-color: yellow;\n    }\n\n/*    .btn-sm;*/\n        \n        \n    img {\n        width:100%;\n        }\n        \n        \n    </style>\n\n\n<!--\n  <link rel=\"stylesheet\" href=\"bower_components/html5-boilerplate/dist/css/normalize.css\">\n  <link rel=\"stylesheet\" href`=\"bower_components/html5-boilerplate/dist/css/main.css\">\n  <link rel=\"stylesheet\" href=\"app.css\">\n-->\n<link href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M\" crossorigin=\"anonymous\">\n\n<!--  <script src=\"bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js\"></script>-->\n</head>\n<body>\n  <!--[if lt IE 7]>\n      <p class=\"browsehappy\">You are using an <strong>outdated</strong> browser. Please <a href=\"http://browsehappy.com/\">upgrade your browser</a> to improve your experience.</p>\n  <![endif]-->\n\n  \t<nav class=\"navbar navbar-expand-md navbar-dark bg-dark mb-4\">\n      <a class=\"navbar-brand\" href=\"#\">Asistente legal cognitivo</a>\n      <button class=\"navbar-toggler\" type=\"button\" data-toggle=\"collapse\" data-target=\"#navbarCollapse\" aria-controls=\"navbarCollapse\" aria-expanded=\"false\" aria-label=\"Toggle navigation\">\n        <span class=\"navbar-toggler-icon\"></span>\n      </button>\n      <div class=\"collapse navbar-collapse\" id=\"navbarCollapse\">\n      </div>\n  </nav>\n\n      <!-- INDEX -->\n  <div class=\"container\" ng-controller=\"ViewCtrlIngresoFree\">\n      <!--\n    <div class=\"jumbotron\" ng-show=\"myloader\">\n        <h1>Asistente legal cognitivo</h1>\n    </div>\n    -->\n\n    <!-- <div class=\"form-horizontal\" ng-show=\"myloader\"> -->\n    <div class=\"form-horizontal\">      \n      <div class=\"form-group form-group-sm\">\n        <div class=\"row\">\n        <div class=\"col-sm-10\">\n        <div class=\"col-sm-10\">\n\n          <textarea class=\"form-control\" placeholder=\"ingrese la propuesta comercial\" ng-model=\"free\"  ng-keypress=\"myFunct($event)\"> \n          \n          </textarea>\n                    </div>\n\n        <br/>\n            \n                    <div class=\"col-sm-2\">\n\n        <button class=\"btn btn-primary float-right\" ng-click=\"myFunctionAnalizar()\">Buscar</button>\n\n      </div>\n      </div>\n    </div>\n    </div>\n    \n    <div ng-show=\"myloader\" class=\"row justify-content-center\">\n<!--    <div class=\"row justify-content-center\">-->\n        <div class=\"col-2\">\n<!--            <img src=\"https://www.ibm.com/cognitive/uk-en/outthink/i/outthink/logo.gif\" class=\"ajax-loader\"/>-->\n            <img src=\"https://git.ng.bluemix.net/mricciar/GUYER-POC-Cognitivo/uploads/a9e0fc8691f9d72b360d223dcf67edd4/WatsonIBM_gif.gif\" class=\"ajax-loader\"/>\n        </div>\n    </div>\n\n      <div ng-view></div>\n\n    \n    </div>\n  <!-- FIN INDEX -->\n\n  <script src=\"https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js\"></script>  \n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-route.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.6.5/angular-resource.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.6.6/angular-sanitize.js\"></script>  \n    \n  <script\n  src=\"https://code.jquery.com/jquery-3.2.1.min.js\"\n  integrity=\"sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=\"\n  crossorigin=\"anonymous\"></script>\n  \n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/checklist-model/0.11.0/checklist-model.min.js\"></script>\n    \n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n\n<script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js\" integrity=\"sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa\" crossorigin=\"anonymous\"></script>\n  \n    \n  <script src=\"view-ingresofree.js\"></script>\n  <script src=\"view-resultado.js\"></script>\n  <script src=\"view-documento.js\"></script>\n  <script src=\"index.js\"></script>\n    \n    \n<!--        <script src=\"src/app.js\"></script>-->\n\n  \n</body>\n</html>\n","x":550.428466796875,"y":56.714271545410156,"wires":[["39b65015.3f5fa"]]},{"id":"32e95b03.b7c864","type":"template","z":"71f731d.9d452d","name":"js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"/*global angular */\n// Declare app level module which depends on views, and components\nvar myapp = angular.module('myapp', [\n    'ngRoute',\n    'ngResource',\n    'ngSanitize',\n    'checklist-model',\n    'myapp.view-ingresofree',\n    'myapp.view-resultado',\n    'myapp.view-documento'\n]).\n    config(['$locationProvider', '$routeProvider', '$sceDelegateProvider', '$httpProvider', '$interpolateProvider', function ($locationProvider, $routeProvider, $sceDelegateProvider, $httpProvider, $interpolateProvider) {\n        'use strict';\n        $interpolateProvider.startSymbol('{[{').endSymbol('}]}');\n        $locationProvider.hashPrefix('!');\n        $routeProvider.otherwise({redirectTo: '/'});\n        //Enable cross domain calls\n        $httpProvider.defaults.useXDomain = true;\n        $sceDelegateProvider.resourceUrlWhitelist([\n            // Allow same origin resource loads.\n            'self',\n            // Allow loading from our assets domain. **.\n            'https://gateway.watsonplatform.net/**'\n        ]);\n    }]);\n\n\nmyapp.factory('UserService', ['$http', '$rootScope', function ($http, $rootScope) {\n\n    var dataFactory = {};\n    \n    dataFactory.features = {};\n    \n    dataFactory.discoveryLocal = {};\n    dataFactory.nlu = {}\n    \n    dataFactory.query = \"\";    \n    dataFactory.runLocal = false;\n\n    //Show loading...\n    dataFactory.myloader = false;\n    dataFactory.getLoader = function () {\n        return dataFactory.myloader;\n    };\n    \n    dataFactory.setLoader = function (firstname) {\n        dataFactory.myloader = firstname;\n        $rootScope.$broadcast(\"updates\");\n    };\n    // end show loading...\n    \n    //Show cantidad de documentos...\n    dataFactory.cantdocus = false;\n    dataFactory.getCantDocus = function () {\n        return dataFactory.cantdocus;\n    };\n    \n    dataFactory.setCantDocus = function (firstname) {\n        dataFactory.cantdocus = firstname;\n        $rootScope.$broadcast(\"updates\");\n    };\n    // end show loading...\n    \n    \n    \n    //Set discovery array\n    dataFactory.discovery = {};\n    dataFactory.getDiscovery = function () {\n        return dataFactory.discovery;\n    };\n    \n    dataFactory.setDiscovery = function (thearray) {\n        dataFactory.discovery = thearray;\n        $rootScope.$broadcast(\"updates\");\n        //$scope.$digest();\n    };\n    //End set discovery array\n    \n    dataFactory.runQuery = function (scope, location){\n            if (!dataFactory.runLocal) {\n                dataFactory.setLoader(true);    \n                dataFactory.setCantDocus(false);\n                $http({\n                    method: 'POST',\n                    url: '/nlu',\n                    data: { querynlu: dataFactory.query }\n                }).then(function successCallback(response) {                    \n                    //Get uniques\n                    var newdata = [];\n                    var lenNLU = response.data.entities.length;\n                    var i = 0;\n                    for (i = 0; i < lenNLU; i++) {\n                        var j = 0;\n                        var valoryaexiste = false;\n                        var lennewdata = newdata.length;\n                        for (j = 0; j < lennewdata; j++) {                        \n                            if(newdata[j].text == response.data.entities[i].text) {\n                                //Valor ya existe\n                                valoryaexiste = true;\n                            }\n                        }\n                        if (!valoryaexiste){\n                            newdata.push(response.data.entities[i]);\n                        }\n                    }            \n                    dataFactory.nlu.entities = newdata;\n                    //End set NLU\n                    dataFactory.setLoader(false);\n                    location.path(\"/view-resultado\");\n                }, function errorCallback(response) {\n                    alert(\"Error query nlu:\" + response.data);\n                });\n            }else{\n                    location.path(\"/view-resultado\");\n            }\n    }\n    \n    \n\n    \n    dataFactory.offset = 0;\n    dataFactory.count = 5;\n    dataFactory.runQueryDiscovery = function (scope, location){\n            var theUrl = '/discovery-nl-offset?query=' + dataFactory.query + \"&count=\" + dataFactory.count + \"&offset=\" + dataFactory.offset\n            if (!dataFactory.runLocal) {\n                dataFactory.setLoader(true);\n                var thearray = {};\n                dataFactory.setDiscovery(thearray);\n\n                $http({\n                    method: 'GET',\n                    url: theUrl\n                }).then(function successCallback(response) {\n                    dataFactory.setDiscovery(response.data);\n                    console.log(response.data.aggregations[0].aggregations[0].results);\n                    //Set values to NLU array:\n                    var lenNLU = dataFactory.nlu.entities.length;\n                    var i = 0;\n                    for (i = 0; i < lenNLU; i++) {\n                        var j = 0;\n                        var seteoValor = false;\n                        var lenDIS = response.data.aggregations[0].aggregations[0].results.length;\n                        for (j = 0; j < lenDIS; j++) {                        \n                            if(response.data.aggregations[0].aggregations[0].results[j].key == dataFactory.nlu.entities[i].text) {\n                                //Agrego el valor\n                                dataFactory.nlu.entities[i].count = response.data.aggregations[0].aggregations[0].results[j].matching_results\n;\n                                seteoValor = true;\n                                //j = dataFactory.nlu.entities.length;\n                            }\n                        }\n                        if (!seteoValor){\n                            dataFactory.nlu.entities[i].count = 0;        \n                        }\n                    }                       \n                    //End set NLU                    \n                    dataFactory.setLoader(false);\n                    dataFactory.setCantDocus(true);\n                    location.path(\"/view-resultado\");\n                }, function errorCallback(response) {\n                    alert(\"Error queryDiscovery:\" + response.data);\n                });\n            }else{\n                dataFactory.setDiscovery(dataFactory.discoveryLocal);\n            }\n    }\n    \n        dataFactory.runQueryDoc = function (scope, location, docIndex){\n            if (!dataFactory.runLocal) {\n                if (docIndex < 0) {\n                    dataFactory.offset = dataFactory.offset - dataFactory.count;\n                    docIndex = dataFactory.count - 1;\n                } else {\n                    dataFactory.offset = dataFactory.offset + dataFactory.count;\n                    docIndex = 0;\n                }\n                var theUrl = '/discovery-nl-offset?post=' + dataFactory.query + \"&count=\" + dataFactory.count + \"&offset=\" + dataFactory.offset\n                dataFactory.setLoader(true);\n                $http({\n                    method: 'GET',\n                    url: theUrl\n                }).then(function successCallback(response) {\n                    dataFactory.setDiscovery(response.data);\n                    dataFactory.setLoader(false);\n                    var docId = dataFactory.discovery.results[docIndex].id\n                    location.path(\"/view-documento/\" + docId);\n                }, function errorCallback(response) {\n                    alert(\"Error:\" + response.data);\n                });\n            }else{\n                    location.path(\"/view-resultado\");\n            }\n\n    }\n    return dataFactory;\n    \n    \n}]);","x":612,"y":364.99999237060547,"wires":[["39b65015.3f5fa"]]},{"id":"6ab38fbf.c665b","type":"template","z":"71f731d.9d452d","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{=<% %>=}}\n<%={{ }}=%>","x":370,"y":600,"wires":[[]]},{"id":"752d16f4.b79278","type":"http in","z":"71f731d.9d452d","name":"","url":"/view-ingresofree.html","method":"get","upload":false,"swaggerDoc":"","x":141,"y":193,"wires":[["1a0de5d.901791a"]]},{"id":"1a0de5d.901791a","type":"template","z":"71f731d.9d452d","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"  <!-- INDEX -->\n  <div class=\"container\">\n    <div class=\"jumbotron\" ng-show=\"myloader\">\n        <h1>Asistente legal cognitivo</h1>\n        <!--  <p class=\"lead\">Haga una pregunta en lenguaje natural en el siguiente campo. Luego haga click en el botón de Continuar.</p> -->\n    </div>\n\n    <div class=\"form-horizontal\" ng-show=\"myloader\">      \n      <div class=\"form-group form-group-sm\">\n        <input class=\"form-control\" ng-model=\"free\" placeholder=\"ej: puedo despedir a un empleado?\"/>\n<!--        <label><input type=\"checkbox\" value=\"\">Lenguaje Natural</label>-->\n        <br/>\n        <button class=\"btn btn-primary float-right\" ng-click=\"myFunctionAnalizar()\">Buscar</button>\n      </div>\n    </div>\n      \n    <div ng-hide=\"myloader\">\n            <img src=\"https://www.ibm.com/cognitive/uk-en/outthink/i/outthink/logo.gif\" class=\"ajax-loader\"/>\n      </div>\n</div>\n  <!-- FIN INDEX -->\n","x":604,"y":202.99999237060547,"wires":[["39b65015.3f5fa"]]},{"id":"c22243a6.7b928","type":"http in","z":"71f731d.9d452d","name":"","url":"/view-resultado.html","method":"get","upload":false,"swaggerDoc":"","x":143,"y":248.99999237060547,"wires":[["c7c79df6.39075"]]},{"id":"c7c79df6.39075","type":"template","z":"71f731d.9d452d","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <!-- PROCESADO -->\n    <div class=\"blog-header\">\n      <div class=\"container\">\n        <!-- <h2 class=\"blog-title\">Pregunta procesada: {[{query}]}</h2> -->\n        <p class=\"lead blog-description\">Cantidad de resultados: <b>{[{discovery.matching_results}]}</b></p>\n      </div>\n    </div>\n\n    <div class=\"container\" >        \n      <div class=\"row\">\n        <div class='blog-main col-md-8'>\n          <div class=\"blog-post\">\n            <div class=\"resultados\" ng-repeat=\"entitieDiscovery in discovery.results\">\n                <a ng-href=\"#!/view-documento/{[{entitieDiscovery.id}]}\">{[{entitieDiscovery.extracted_metadata.filename}]}</a>\n                <p>{[{entitieDiscovery.score}]}</p>\n                <!-- <b class=\"entidadok\" >{[{entitieDiscovery.extracted_metadata.filename}]}</b> -->\n                <div ng-repeat=\"htmlValue in entitieDiscovery.highlight.html\">\n                    <div ng-bind-html=\"htmlValue\"></div>\n                </div>\n                <br/>\n            </div>\n            <!-- -->\n\n          </div><!-- /.blog-post -->\n<!--\n        <p class=\"lead blog-description\">Cantidad de resultados: <b>{[{discovery.matching_results}]}</b></p>\n        <p class=\"lead blog-description\">Desde: <b>{[{offset}]}</b></p>\n        <p class=\"lead blog-description\">Hasta: <b>{[{offsetshow}]}</b></p>\n\n-->\n<!--\n          <nav class=\"blog-pagination\">\n            <a class=\"btn btn-outline-primary\" ng-class=\"firstDoc()\" ng-click=\"antRes()\">Página Anterior</a>\n            <a class=\"btn btn-outline-secondary \" ng-class=\"lastDoc()\" ng-click=\"nextRes()\">Página Siguiente</a>              \n\n              \n          </nav>\n-->\n          </div><!-- /.blog-main -->\n          \n    \n        <div class=\"col-sm-4 blog-sidebar\">\n            <div class=\"sidebar-module sidebar-module-inset\">\n            <h3>Entidades</h3>\n                <button class=\"btn btn-primary float-right\" ng-click=\"imChanged()\">Buscar Discovery</button>\n\n                <table style=\"width:100%\">\n                    <tr>\n                        <th>Organización</th>\n                        <th>Cantidad de menciones</th>\n                    </tr>\n                    <tr ng-repeat=\"entitie in nlu.entities | filter: {type: 'ORGANIZACION'}\">\n                        <td>\n                            <input type=\"checkbox\" data-checklist-model=\"user.entities\" data-checklist-value=\"entitie\">\n                            {[{entitie.text}]}\n                        </td>\n                        <td ng-show=\"cantdocus\">{[{entitie.count}]}\n                        </td>\n                    </tr>\n                </table>\n                <table style=\"width:100%\">\n                    <tr>\n                        <th>Servicio</th>\n                        <th>Cantidad de menciones</th>\n                    </tr>\n                    <tr ng-repeat=\"entitie in nlu.entities  | filter: {type: 'SERVICIO'}\">\n                        <td>\n                            <input type=\"checkbox\" data-checklist-model=\"user.entities\" data-checklist-value=\"entitie\">\n                            {[{entitie.text}]}\n                        </td>\n                        <td ng-show=\"cantdocus\">{[{entitie.count}]}\n                        </td>\n                    </tr>\n                </table>\n          </div>\n        </div>\n          \n          \n          \n        </div><!-- /.row -->\n    </div><!-- /.container -->\n\n    <!-- FIN PROCESADO -->\n","x":589,"y":248.99999237060547,"wires":[["39b65015.3f5fa"]]},{"id":"1aaea835.7b9b88","type":"http in","z":"71f731d.9d452d","name":"","url":"/view-documento.html","method":"get","upload":false,"swaggerDoc":"","x":153,"y":305.99999237060547,"wires":[["dd693b75.dda508"]]},{"id":"dd693b75.dda508","type":"template","z":"71f731d.9d452d","name":"html","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"    <!-- PROCESADO -->\n    <div class=\"blog-header\">\n      <div class=\"container\">\n        <h6 class=\"blog-title\">{[{documento.extracted_metadata.filename}]}</h6>\n      </div>\n    </div>\n\n    <div class=\"container\" >\n      <div class=\"row\">\n        <div class=\"col-sm-8 blog-main\">\n          <div class=\"blog-post\" ng-bind-html=\"documento.html\"> </div><!-- /.blog-post -->\n          <!-- <div class=\"blog-post\" ng-bind-html=\"discovery.results[discoveryIndex].html\"> </div><!-- /.blog-post --> -->\n\n          <nav class=\"blog-pagination\">\n            <!-- <a class=\"btn btn-outline-primary disabled\" ng-click=\"antDiscDocu()\">Página Anterior</a> -->\n            <a class=\"btn btn-outline-primary\" ng-class=\"firstDoc()\" ng-click=\"antDiscDocu()\">Documento Anterior</a>\n            <a class=\"btn btn-outline-secondary \" ng-class=\"lastDoc()\" ng-click=\"nextDiscDocu()\">Documento Siguiente</a>\n          </nav>\n\n        </div><!-- /.blog-main -->\n          \n        <div class=\"col-sm-4  blog-sidebar\">\n          <div class=\"sidebar-module sidebar-module-inset\">\n            <h4>Entidades</h4>\n              <div ng-repeat=\"htmlValue in documento.enriched_text.entities\">\n                    <div>{[{htmlValue.text}]}</div>\n              </div>\n            <h4>Conceptos</h4>\n              <div ng-repeat=\"htmlValue in documento.enriched_text.concepts\">\n                    <div>{[{htmlValue.text}]}</div>\n              </div>\n                    <h4>Categorias</h4>\n              <div ng-repeat=\"htmlValue in documento.enriched_text.categories\">\n                    <div>{[{htmlValue.label}]}</div>\n              </div>\n          </div>\n        </div>\n      \n        </div><!-- /.row -->\n    </div><!-- /.container -->\n\n    <footer class=\"blog-footer\">\n    </footer>\n    <!-- FIN PROCESADO -->\n","x":586,"y":299.99999237060547,"wires":[["39b65015.3f5fa"]]},{"id":"43972374.1dc9cc","type":"http in","z":"71f731d.9d452d","name":"","url":"/index.js","method":"get","upload":false,"swaggerDoc":"","x":130,"y":360,"wires":[["32e95b03.b7c864"]]},{"id":"2dc98d88.9cb7d2","type":"node-red-contrib-httpauth","z":"71f731d.9d452d","name":"","file":"","cred":"","authType":"Basic","realm":"","username":"user","password":"US3R!2017","hashed":false,"x":320.21435546875,"y":43.74999237060547,"wires":[["fd3c08e6.de3518"]]},{"id":"39b65015.3f5fa","type":"http response","z":"71f731d.9d452d","name":"","x":929.71435546875,"y":144.99999237060547,"wires":[]},{"id":"6f3f520f.32c8cc","type":"http in","z":"71f731d.9d452d","name":"","url":"/view-documento.js","method":"get","upload":false,"swaggerDoc":"","x":170,"y":420,"wires":[["8f3ae6c4.b542b8"]]},{"id":"8f3ae6c4.b542b8","type":"template","z":"71f731d.9d452d","name":"js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"/*global angular */\nangular.module('myapp.view-documento', ['ngRoute'])\n    .config(['$routeProvider', function ($routeProvider) {\n        'use strict';\n        $routeProvider.when('/view-documento/:id', {\n            templateUrl: 'view-documento.html',\n            controller: 'ViewCtrlDocumento'\n        });\n    }])\n\n    .controller('ViewCtrlDocumento', function ($scope, $routeParams, $location, UserService) {\n        'use strict';\n        //alert($routeParams.id);\n        $scope.query = UserService.query;\n        $scope.features = UserService.features;\n        $scope.discovery = UserService.discovery;\n        $scope.docIndex = 0;\n        function getById(arr, id) {\n            for (var d = 0, len = arr.length; d < len; d += 1) {\n                if (arr[d].id === id) {\n                    $scope.docIndex = d;\n                    return arr[d];\n                }\n            }\n        }\n\n        $scope.documento = getById($scope.discovery.results, $routeParams.id);\n        $scope.firstDoc = function(){\n            if ($scope.docIndex == 0){\n                return \"disabled\";\n            }else{\n                return \"enabled\";                \n            }\n        }    \n\n        $scope.lastDoc = function(){\n            if ($scope.docIndex == ($scope.discovery.matching_results - 1)){\n                return \"disabled\";\n            }else{\n                return \"enabled\";                \n            }\n        }    \n\n    \n        function setPaginacion (){\n            console.log(\"$scope.docIndex = \" + $scope.docIndex);\n            \n            try {\n                var newId = $scope.discovery.results[$scope.docIndex].id;\n            }\n            catch(err) {\n                \n                \n                \n                \n            }\n            $location.path(\"/view-documento/\"+newId);\n            \n        }\n    \n        $scope.antDiscDocu = function(){\n            $scope.docIndex = $scope.docIndex - 1;\n            setPaginacion();\n        }\n        $scope.nextDiscDocu = function antDiscDocu(){\n            $scope.docIndex = $scope.docIndex + 1;\n            setPaginacion();\n        }\n        \n        \n    });","x":610,"y":420,"wires":[["39b65015.3f5fa"]]},{"id":"4847cdce.2647b4","type":"http in","z":"71f731d.9d452d","name":"","url":"/view-ingresofree.js","method":"get","upload":false,"swaggerDoc":"","x":170,"y":480,"wires":[["795c6d81.877944"]]},{"id":"795c6d81.877944","type":"template","z":"71f731d.9d452d","name":"js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"/*global angular */\n/*global alert */\nangular.module('myapp.view-ingresofree', ['ngRoute', 'ngResource'])\n    .config(['$routeProvider', function ($routeProvider) {\n        'use strict';\n        $routeProvider.when('/view-ingresofree', {\n            templateUrl: 'view-ingresofree.html',\n            controller: 'ViewCtrlIngresoFree'\n        });\n    }])\n    .controller('ViewCtrlIngresoFree', function ($scope, $location, UserService, $rootScope) {\n        'use strict';\n\n        $scope.myloader = UserService.getLoader(); //https://stackoverflow.com/questions/29769804/getting-and-setting-value-in-factory-in-angualrjs\n    \n        $rootScope.$on(\"updates\",function(){\n            $scope.myloader = UserService.getLoader();\n        });\n    \n        $scope.myFunctionAnalizar = function () {\n            //Seteo paginado\n            UserService.offset = 0;\n            UserService.query = $scope.free;\n            $location.path(\"/index\");\n            UserService.runQuery ($scope, $location);\n        };\n    \n        $scope.myFunct = function(keyEvent) {\n            if (keyEvent.which === 13)\n            $scope.myFunctionAnalizar();\n        };\n    \n        var initControler = function () {\n            $scope.query = UserService.query;\n            $scope.features = UserService.features;\n            $scope.discovery = UserService.discovery;\n            $scope.discoveryIndex = 0;\n        };    \n    \n    });\n\n","x":612,"y":484.99999237060547,"wires":[["39b65015.3f5fa"]]},{"id":"ce3486d0.96c4b8","type":"http in","z":"71f731d.9d452d","name":"","url":"/view-resultado.js","method":"get","upload":false,"swaggerDoc":"","x":180,"y":540,"wires":[["70c83fc5.dc4d7"]]},{"id":"70c83fc5.dc4d7","type":"template","z":"71f731d.9d452d","name":"js","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"/*global angular */\n/*global alert */\nvar app = angular.module('myapp.view-resultado', ['ngRoute', 'ngResource'])\n    .config(['$routeProvider', function ($routeProvider) {\n        'use strict';\n        $routeProvider.when('/view-resultado', {\n            templateUrl: 'view-resultado.html',\n            controller: 'ViewCtrlResultado'\n        });\n    }])\n\n    .controller('ViewCtrlResultado', function ($scope, $location, UserService, $rootScope) {\n        'use strict';\n    \n        $scope.discovery = UserService.getDiscovery(); //https://stackoverflow.com/questions/29769804/getting-and-setting-value-in-factory-in-angualrjs    \n        $rootScope.$on(\"updates\",function(){\n            $scope.discovery = UserService.getDiscovery();\n        });\n    \n        $scope.cantdocus = UserService.getCantDocus(); //https://stackoverflow.com/questions/29769804/getting-and-setting-value-in-factory-in-angualrjs\n        $rootScope.$on(\"updates\",function(){\n            $scope.cantdocus = UserService.getCantDocus();\n        });\n    \n        var initControler = function () {\n            $scope.query = UserService.query;\n            $scope.features = UserService.features;\n            $scope.discovery = UserService.discovery;\n            $scope.nlu = UserService.nlu;\n\n            //$scope.discoveryIndex = 0;          \n            $scope.offset = UserService.offset;\n            $scope.offsetshow = UserService.offset + UserService.count;\n            if ($scope.offsetshow > $scope.discovery.matching_results) {\n                $scope.offsetshow = $scope.discovery.matching_results\n            }\n        };\n        \n        $scope.$watch(function () {\n            //return UserService.query;\n            return UserService;\n        }, function (newValue, oldValue) {\n            //console.log(newValue + ' ' + oldValue);\n            initControler();\n        });\n\n        $scope.antRes = function(){\n            UserService.offset = UserService.offset - 5;\n            initControler();\n            $scope.myFunctionAnalizar();            \n        }\n        $scope.nextRes = function antDiscDocu(){\n            UserService.offset = UserService.offset + 5;\n            initControler();\n            $scope.myFunctionAnalizar();            \n        }\n        \n        $scope.myFunctionAnalizar = function () {\n            $location.path(\"/index\");\n            UserService.runQuery ($scope, $location);\n        };\n    \n        $scope.firstDoc = function(){\n            try{\n                if ($scope.discovery.matching_results > 0 && $scope.offset > 0){\n                    return \"enabled\";\n                }else{\n                    return \"disabled\";                \n                }\n            }catch (err){\n                return \"disabled\";                \n            }            \n        }    \n\n        $scope.lastDoc = function(){\n            try{\n                if ($scope.offsetshow < $scope.discovery.matching_results){\n                    return \"enabled\";\n                }else{\n                    return \"disabled\";                \n                }\n            }catch (err){\n                return \"disabled\";                \n            }            \n        }  \n        \n        \n        initControler();\n        // Seteo de checklist model -  ENTIDADES DE NLU ---\n\n        \n  $scope.user = {\n        entities: [$scope.nlu.entities]\n  };\n    \n  $scope.checkAll = function() {\n    $scope.user.entities = angular.copy($scope.nlu.entities);\n  };\n    //$scope.checkAll();\n  $scope.uncheckAll = function() {\n    $scope.user.entities = [];\n  };\n  $scope.checkFirst = function() {\n    $scope.user.entities = [];\n    $scope.user.entities.push($scope.nlu.entities);\n  };\n  $scope.setToNull = function() {\n    $scope.user.entities = null;\n  };\n    \n    $scope.getDiscoveryQuery = function () {\n        // Query example: \n        //                \"enriched_text.entities.type::'Servicio',enriched_text.concepts.text::'Acme',enriched_text.entities.text::'servicios de consultoria';\n        // Url   example:\n        //                    \n        var text = 'enriched_text.entities.type::\"SERVICIO\"';\n        //var text = \"enriched_text.entities.type%3A%3A%22SERVICIO%22\"\n        var i = 1\n        for (i = 1; i < $scope.user.entities.length; i++) {\n            //alert($scope.user.entities[i].text)\n            text += ',enriched_text.entities.text::\"' + $scope.user.entities[i].text + '\"';\n            //text += \"%2Cenriched_text.entities.text%3A%3A%22%27\" + $scope.user.entities[i].text + \"%27%22\";\n        \n        \n        }\n        return text;\n    };\n\n    $scope.queryBuffer = \"\";\n    $scope.imChanged = function(){\n        if (UserService.getLoader()) {\n            //Set buffer:\n            $scope.queryBuffer = $scope.getDiscoveryQuery();\n            console.log(\"setBuffer\");\n        } else {\n            $scope.query = $scope.getDiscoveryQuery();\n            UserService.query = $scope.query;\n            UserService.runQueryDiscovery ($scope, $location);\n            //console.log(JSON.stringify($scope.discovery.results));\n        }\n    };\n    });\n\n// here we define our unique filter\napp.filter('unique', function() {\n   // we will return a function which will take in a collection\n   // and a keyname\n   return function(collection, keyname) {\n      // we define our output and keys array;\n      var output = [], \n          keys = [];\n      // we utilize angular's foreach function\n      // this takes in our original collection and an iterator function\n      angular.forEach(collection, function(item) {\n          // we check to see whether our object exists\n          var key = item[keyname];\n          // if it's not already part of our keys array\n          if(keys.indexOf(key) === -1) {\n              // add it to our keys array\n              keys.push(key); \n              // push this item to our final output array\n              output.push(item);\n          }\n      });\n      // return our array which should be devoid of\n      // any duplicates\n      return output;\n   };\n});","x":632,"y":544.9999923706055,"wires":[["39b65015.3f5fa"]]}]